body,
html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
}

#hd {
	height : 87px;
	background-color : #092E67;
	margin-top : 0;
	padding-top : 10px;
	border-bottom : 1px solid #888;
	z-index : 0;
}

#logo,#bd {
	margin: 0 auto;
	padding: 25px 50px 0 50px;
}
#logo h1 {
	color : white;
	font-size:36pt;
	display: inline;
}
#logo img {
	display:inline;
	vertical-align: bottom;
	margin-left : 50px;
	margin-right : 5px;
}
#logo, #logo h1 { margin-top : 0; padding-top : 0;}

#bd {
	z-index : 1;
	margin: 0 auto;
	width: 80%;
	height: 720px;
	background-color : #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow: 0px 0px 10px #888;
}

#ft {
	position : absolute;
	bottom : 0;
	width : 100%;
	height : 99px;
	background-color : #6493D2;
	border-top : 1px solid #888;
	z-index : 0;
}

#js-properties-panel {
	position: relative;
	height: 700px;
	right: -85%;
	top: -20px;
	padding: 0px;
	bottom: 0;
	width: 260px;
	z-index: 10;
	border-left: 1px solid #ccc;
	overflow: auto;
}

#js-properties-panel:empty {
 display: none;
}
#js-properties-panel > .djs-properties-panel {
  padding-bottom: 70px;
  min-height:100%;
}