.bpmn {
	.content {
		height: 720px;

		.canvas {
			top: 80px!important;			
			height: 720px;
			margin: 0 auto;
			width: 80%;
			margin-left: -40px;
			float: left;

			.bjs-container {
				height: 720px;				

				.djs-container {
					.djs-palette {
						width: 46px!important;
					}
				}
			}
		}
	}

	.buttons {
		position: relative;
		bottom: 40px;

		padding: 0;
		padding-left: 40px;
		margin: 0;
		list-style: none;

		> li {
			display: inline-block;
			margin-right: 10px;

			> a {
				background: #DDD;
				border: solid 1px #666;
				display: inline-block;
				padding: 5px;
			}
		}

		a {
			opacity: 0.3;
		}

		a.active {
			opacity: 1.0;
		}
	}
	
	.properties-panel {
  		width: 260px;
  		float: right;
		height: 640px;
		overflow: auto;
	}	
}

.cjs-container {
	height: 720px!important;
	overflow: auto;
}

@import "bpmn-js-properties-panel/styles/properties";

